<!DOCTYPE html>
<html lang="fa-IR">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#28ec16"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- {start} favicon ---------------------------------------->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/images/favicon/favicon-16x16.png"
    />
    <!-- {end} favicon ------------------------------------------->
    <!-- {start} icon -------------------------------------------->
    <link
      rel="stylesheet"
      href="/static/fonts/icon/MDI/css/materialdesignicons.min.css"
    />
    <!-- {end} icon -------------------------------------------->
    <!-- {start} style ------------------------------------------>
    <link rel="stylesheet" href="static/assets/css/index.css" />
    <!-- {end} style -------------------------------------------->
    <title>سخت سر</title>
  </head>

  <body>
    <!-- {start} add main header -->
    <header>
      <section id="header">
        <div class="m-header">
          <!-- {start} add nav header -->
          <div class="m-nav">
            <div class="banner">
              <a href="index.html"
                ><img src="/static/images/logo.svg" alt="سخت سر" title="سخت سر"
              /></a>
            </div>
            <nav>
              <div class="nav-header">
                <ul>
                  <li><a href="#header">کجا برم؟</a></li>
                  <li><a href="#contactus">تماس با ما</a></li>
                  <li><a href="#aboutus">درباره ما</a></li>
                  <li><a href="#submitcontent">ارسال محتوا</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <!-- {end} add nav header -->
          <!-- {start} add main title -->
          <div class="main-title">
            <h1>کجا میخوای بری؟</h1>
          </div>
          <!-- {end} add main title -->
          <!-- {start} add places categories -->
          <div class="main-categories">
            <div class="item-category">
              <div class="item-banner">
                <img src="/static/images/beach.jpg" alt="ساحل" title="ساحل" />
              </div>
              <p>ساحل</p>
            </div>
            <div class="item-category">
              <div class="item-banner">
                <img
                  src="/static/images/river.jpg"
                  alt="رودخانه"
                  title="رودخانه"
                />
              </div>
              <p>رودخانه</p>
            </div>
            <div class="item-category">
              <div class="item-banner">
                <img src="/static/images/jungle.jpg" alt="جنگل" title="جنگل" />
              </div>
              <p>جنگل</p>
            </div>
            <div class="item-category">
              <div class="item-banner">
                <img
                  src="/static/images/historical.webp"
                  alt="تاریخی"
                  title="تاریخی"
                />
              </div>
              <p>تاریخی</p>
            </div>
            <div class="item-category">
              <div class="item-banner">
                <img
                  src="/static/images/mountain.webp"
                  alt="ییلاقی"
                  title="ییلاقی"
                />
              </div>
              <p>ییلاقی</p>
            </div>
            <div class="item-category">
              <div class="item-banner">
                <img
                  src="/static/images/dice.jpg"
                  alt="هرچی تو بگی"
                  title="هرچی تو بگی"
                />
              </div>
              <p>هر چی تو بگی</p>
            </div>
          </div>
          <!-- {end} add places categories -->
        </div>
      </section>
    </header>
    <!-- {end} add main header -->
    <!-- {start} add fixed scroll bar  -->
    <div class="scroll-bar">
      <div class="triangle" onclick="prevSection()"></div>
      <a href="#header">
        <div class="circle header active">
          <span>صفحه اصلی</span>
        </div>
      </a>
      <a href="#contactus">
        <div class="circle contactus">
          <span>تماس با ما</span>
        </div>
      </a>
      <a href="#aboutus">
        <div class="circle aboutus">
          <span>درباره ما</span>
        </div>
      </a>
      <a href="#submitcontent">
        <div class="circle submitcontent">
          <span>ارسال محتوا</span>
        </div>
      </a>
      <div class="triangle" onclick="nextSection()"></div>
    </div>
    <!-- {end} add fixed scroll bar  -->
    <main>
      <!-- {start} contact us -->
      <section id="contactus">
        <div class="contactus">
          <div class="img">
            <img
              src="/static/images/contactus.svg"
              alt="contactus"
              title="contactus"
            />
          </div>
          <div class="main">
            <div class="header">
              <h1>تماس با ما</h1>
            </div>
            <div class="text">
              <p>جهت ارتباط با ما می توانید اطلاعات تماس خود را وار کنید</p>
            </div>
            <div class="input">
              <form action="/contact" method="post">
                <!-- {% csrf_token %} 
                {% for field in contact %}
                  {{ field.errors }}{{ field }}
                {% endfor %} -->
                <button type="submit" class="btn" id="btn" disabled>
                  ارسال
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- {end} contact us -->
      <!-- {start} about us -->
      <section id="aboutus">
        <div class="aboutus">
          <div class="header">
            <h1>درباره ما</h1>
          </div>
          <div class="main">
            <div class="box orange">
              <div class="box-header">
                <p>علیرضا شاهنظری</p>
              </div>
              <div class="icon">
                <div class="icons">
                  <a href="#"><i class="mdi mdi-twitter"></i></a>
                </div>
                <div class="icons">
                  <a href="#"><i class="mdi mdi-facebook"></i></a>
                </div>
                <div class="icons">
                  <a href="#"><i class="mdi mdi-instagram"></i></a>
                </div>
              </div>
              <div class="main-info">
                <p>
                  ده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                  شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی
                  و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                  امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت
                  تا
                </p>
              </div>
            </div>
            <div class="box green">
              <div class="box-header">
                <p>محمد علی مردان رمجی</p>
              </div>
              <div class="icon">
                <div class="icons">
                  <a href="#"><i class="mdi mdi-twitter"></i></a>
                </div>
                <div class="icons">
                  <a href="#"><i class="mdi mdi-facebook"></i></a>
                </div>
                <div class="icons">
                  <a href="#"><i class="mdi mdi-instagram"></i></a>
                </div>
              </div>
              <div class="main-info">
                <p>
                  ده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                  شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی
                  و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                  امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت
                  تا
                </p>
              </div>
            </div>
            <div class="box blue">
              <div class="box-header">
                <p>عرشیا کاظم تمیمی</p>
              </div>
              <div class="icon">
                <div class="icons">
                  <a href="#"><i class="mdi mdi-twitter"></i></a>
                </div>
                <div class="icons">
                  <a href="#"><i class="mdi mdi-facebook"></i></a>
                </div>
                <div class="icons">
                  <a href="#"><i class="mdi mdi-instagram"></i></a>
                </div>
              </div>
              <div class="main-info">
                <p>
                  ده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                  شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی
                  و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                  امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت
                  تا
                </p>
              </div>
            </div>
            <div class="box green">
              <div class="box-header">
                <p>امیر نصرالله زاده</p>
              </div>
              <div class="icon">
                <div class="icons">
                  <a href="#"><i class="mdi mdi-twitter"></i></a>
                </div>
                <div class="icons">
                  <a href="#"><i class="mdi mdi-facebook"></i></a>
                </div>
                <div class="icons">
                  <a href="#"><i class="mdi mdi-instagram"></i></a>
                </div>
              </div>
              <div class="main-info">
                <p>
                  ده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                  شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی
                  و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                  امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت
                  تا
                </p>
              </div>
            </div>
            <div class="box orange">
              <div class="box-header">
                <p>پوروستمی</p>
              </div>
              <div class="icon">
                <div class="icons">
                  <a href="#"><i class="mdi mdi-twitter"></i></a>
                </div>
                <div class="icons">
                  <a href="#"><i class="mdi mdi-facebook"></i></a>
                </div>
                <div class="icons">
                  <a href="#"><i class="mdi mdi-instagram"></i></a>
                </div>
              </div>
              <div class="main-info">
                <p>
                  ده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                  شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی
                  و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                  امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت
                  تا
                </p>
              </div>
            </div>
          </div>
          <div class="footer">
            <a href="#" class="btn">به تیم ما بپیوندید</a>
          </div>
        </div>
      </section>
      <!-- {end} about us -->
      <!-- <div id="snackbar"></div>
      {% if message %}
      <script>
        //{start} Show snackbar
        var x = document.getElementById("snackbar");
        x.className = "show";
        x.style.backgroundColor = "green";
        x.innerHTML = "{{ message }}";
        setTimeout(function () {
            x.className = x.className.replace("show", "");
        }, 3000);
        //{end} Show snackbar
      </script>
      {% endif %}
      {% if error %}
      <script>
        //{start} Show snackbar
        var x = document.getElementById("snackbar");
        x.className = "show";
        x.style.backgroundColor = "red";
        x.innerHTML = "{{ error }}";
        setTimeout(function () {
            x.className = x.className.replace("show", "");
        }, 3000);
        //{end} Show snackbar
      </script>
      {% endif %} -->
      <!-- {start} Submit content-->
      <section id="submitcontent">
        <div class="submit-content">
          <div class="main-title-sumbit-content">
            <h1>ارسال محتوا</h1>
          </div>
          <div class="discreaption-submit-content">
            <p>
              متن و توضیح نحوه ارسال محتوا در سایت و استاندارد های لازم محتوا
            </p>
          </div>
          <div class="container-submit-content">
            <div class="banner-sumbit-content">
              <img
                src="/static/images/submit-content-image.svg"
                alt="ارسال محتوا"
                title="ارسال محتوا"
              />
            </div>
            <div class="form-sumbit-content">
              <form action="/content" method="post" enctype="multipart/form-data">
                <!-- {% csrf_token %}
                {{ content.name.errors }}{{ content.name }}
                {{ content.family.errors }}{{ content.family }}
                {{ content.title.errors }}{{ content.title }} -->
                <div class="choose-categories-sumbit-content">
                  <!-- {{ content.category.errors }}{{ content.category }} -->
                  <span class="mdi mdi-chevron-down"></span>
                  <div class="showCategories">
                    <ul>
                      <!-- {% for category in categories %} -->
                        <li class="itemCategory">{{ category }}</li>
                      <!-- {% endfor %} -->
                    </ul>
                  </div>
                </div>
                <div class="upload-submit-content">
                  <!-- {{ content.file.errors }}{{ content.file }} -->
                  <label for="choose-file-submit-content">انتخاب فایل</label>
                </div>
                <button type="submit" id="btn-submit-content" disabled>
                  ارسال محتوا
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- {end} Submit content-->
    </main>
  </body>

  <!-- {start} script -------------------------------------------->
  <script src="/static/assets/js/index.js"></script>
  <!-- {end} script ---------------------------------------------->
</html>
