*{ 
    margin: 0;
    padding: 0;
    font-family: VAZIR;
}

body{
    background-color: #f5f5f5;
    direction: rtl;
}

/* {start} add file font */

@font-face {
    font-family: 'VAZIR';
    font-style: normal;
    src: url('../../fonts/vazir-font/Vazir.eot');
    src: url('../../fonts/vazir-font/Vazir.eot') format('embedded-opentype'), /* IE6-8 */
    url('../../fonts/vazir-font/Vazir.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../fonts/vazir-font/Vazir.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../fonts/vazir-font/Vazir.ttf') format('truetype');
}

/* {end} add file font */