*{ 
    margin: 0;
    padding: 0;
    font-family: VAZIR;
}

body{
    background-color: #f5f5f5;
    direction: rtl;
}

a{
    text-decoration: none;
}

/* {start} add file font */

@font-face {
    font-family: 'VAZIR';
    font-style: normal;
    src: url('../../fonts/vazir-font/Vazir.eot');
    src: url('../../fonts/vazir-font/Vazir.eot') format('embedded-opentype'), /* IE6-8 */
    url('../../fonts/vazir-font/Vazir.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../fonts/vazir-font/Vazir.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../fonts/vazir-font/Vazir.ttf') format('truetype');
}

/* {end} add file font */

/* {start} add header style */

.m-header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(17, 167, 17, 0.7), rgba(0, 0, 0, 0.9)), 
    url("../../images/nature.jpg");
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/* {end} add header style */
/* {start} add nav header */

.m-nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}

.m-nav .banner{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    background-color: #3F3C3D;
    color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .9);
}
/* {end} about us */

.m-nav .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.m-nav .nav-header{
    width: 100%;
}

.m-nav .nav-header ul{
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

.m-nav .nav-header ul li{
    padding: 0 15px;
}

.m-nav .nav-header ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.m-nav .nav-header ul li a:hover{
    color: rgb(112, 186, 230);
}

/* {end} add nav header */
/* {start} add main title */

.main-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

.main-title h1{
    font-size: 50px;
    color: #fff;
    font-weight: 1000;
}

/* {end} add main title */
/* {start} add places categories  */

.main-categories{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 20px 0;
}

.main-categories .item-category{
    margin: 0 30px;
    display: flex;
    align-items: center;
    flex-direction:column;
    cursor: pointer;
}

.main-categories .item-category .item-banner{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
    overflow: hidden;
}

.main-categories .item-category .item-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-categories .item-category p{
    padding: 15px 0;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

/* {end} add places categories  */
/* {start} add fixed scroll bar */

.scroll-bar{
    position: fixed;
    top: 50%;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


.scroll-bar .circle{
    width: 11px;
    height: 11px;
    background-color: rgb(196, 191, 191);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 5px 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.scroll-bar .triangle{
    width: 0; 
    height: 0; 
    margin: 5px 0;
    cursor: pointer;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.scroll-bar .triangle:nth-child(1){
    border-bottom: 17px solid rgb(196, 191, 191);
}

.scroll-bar .triangle:nth-child(6){
    border-top: 17px solid rgb(196, 191, 191);
}

.scroll-bar .circle.active{
    background-color: #fff;
}

.scroll-bar .circle:hover{
    background-color: #fff;
}

/* {end} add fixed scroll bar */

/* {start} about us */
#aboutus{
    width: 100%;
    height: 100vh;
}

.aboutus{
    width: 100%;
    height: 100vh;
}

.aboutus .header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 60px 0 60px 0;
}

.aboutus .header h1{
    font-size: 30px;
    font-weight: 2000;
}

.aboutus .main{
    width: 100%;
    padding: 35px 0 35px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutus .main .box{
    width: 200px;
    height: 350px;
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .6);
    margin: 0 15px;
}

.aboutus .main .box .box-header p{
    font-size: 11px;
    color: #fff;
}

.aboutus .main .box .box-header{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .6);
}

.aboutus .main .orange {
    background-image: linear-gradient(#ff6500,#ff9000);
}

.aboutus .main .green {
    background-image: linear-gradient(#12eba2,#28ec16);
}

.aboutus .main .blue {
    background-image: linear-gradient(#6262ff,#00c6c6);
}

.aboutus .main .orange .box-header{
    width: 115px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #ff9000;
    position: absolute;
    top: -70px;
    right: 40px;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

.aboutus .main .orange .box-header p{
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}

.aboutus .main .orange .box-header::before{
    content: '';
    width: 30px;
    height: 40px;
    background-color: #ff9000;
    position: absolute;
    bottom: -7px;
    right: 40px;
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
}

.aboutus .main .green .box-header{
    width: 115px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #28ec16;
    position: absolute;
    top: -70px;
    right: 50px;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}

.aboutus .main .green .box-header p{
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}

.aboutus .main .green .box-header::before{
    content: '';
    width: 30px;
    height: 40px;
    background-color: #28ec16;
    position: absolute;
    bottom: -8px;
    right: 55px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}


.aboutus .main .blue .box-header{
    width: 115px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #00c6c6;
    position: absolute;
    top: -50px;
    right: 40px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.aboutus .main .blue .box-header::before{
    content: '';
    width: 30px;
    height: 40px;
    background-color: #00c6c6;
    position: absolute;
    bottom: -8px;
    right: 30px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}

.aboutus .main .box .icon{
    direction: ltr;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.aboutus .main .box .icon .icons{
    width: 100%;
    padding: 5px 0 5px 0;
    box-sizing: border-box;
}

.aboutus .main .box .icon .icons a{
    color: #fff;
}

.aboutus .main .box .main-info{
    width: 100%;
    height: 225px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.aboutus .main .box .main-info p{
    font-size: 14px;
    color: #fff;
}


.aboutus .footer{
    width: 100%;
    padding: 15px 0 15px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutus .footer .btn{
    font-size: 15px;
    padding: 5px 25px 5px 25px;
    background-color: #3F3C3D;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
}